<div class="section about-me-container">
    <div class="about-me-header">
      <div class="profile-image-container">
        <img src="/assets/yo.enc" alt="">
    </div>
    <div class="header-text">
      <h2>Gonzalo Rosano</h2>
      <p class="subtitle">Desarrollador Web | Apasionado por la Tecnología</p>
    </div>
  </div>
  <div class="about-me-content">
    <p>
      ¡Hola! Soy Gonzalo, un apasionado desarrollador web con una pasión por
      aprender y enfrentar nuevos desafíos. Mi experiencia abarca diversos
      lenguajes y tecnologías, y disfruto explorando soluciones creativas en el
      desarrollo web.
    </p>
    <p>
      En mi tiempo libre, me sumerjo en el mundo del conocimiento, hablo con
      amigos sobre tecnología y me apasiona la edición de video y el modelado 3D.
      Creo en la importancia de seguir aprendiendo y creciendo constantemente en
      esta industria siempre cambiante.
    </p>
  </div>
</div>